*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display:table;
}
/* incomincio ad impostare un contenitore con delle misure che andrò a togliere */
.container{
    width: 80%;
    margin: 20px auto;
    border: 2px dashed black;
}
.float{
    float: left;
    width: 32%;
}
.img{
   width: 100%;
}
/* richiamo delle classi float */
.right{
    float: right;
}
.center{
   margin: 0 2%;
}
.heart{
    content:"\2764";
}

.container-float{
    position: relative;
}

}
.percentuale{
    position: absolute;
    left: 0;
    bottom: 20px;
}




